<div class="perfil-container">
    <div class="perfil-content-card">
        
        <h1 class="perfil-title">Perfil</h1>

        <div class="user-info">
            <div class="info-group">
                <label>Nombre</label>
                <p>----------</p>
            </div>
            <div class="info-group">
                <label>Apellido</label>
                <p>----------</p>
            </div>
            <div class="info-group">
                <label>Email</label>
                <p>----------</p>
            </div>
            <div class="info-group">
                <label>Contraseña</label>
                <p>************</p>
            </div>
        </div>

        <div class="separator"></div>

        <div class="navigation-cards">
            
            <div class="nav-card">
                <button class="nav-button" routerLink="/membresia">Membresia</button>
                <p class="nav-description">Aquí puedes revisar los detalles de tu membresía actual o explorar las opciones de suscripción disponibles para disfrutar de la mejor experiencia AMC.</p>
            </div>

            <div class="nav-card">
                <button class="nav-button" routerLink="/reservas">Reservas</button>
                <p class="nav-description">Aquí puedes revisar todas tus reservas realizadas, manteniéndote informado y al día con AMC.</p>
            </div>

            <div class="nav-card">
                <button class="nav-button" routerLink="/compras">Compras</button>
                <p class="nav-description">En esta sección podrás consultar tu historial completo de compras realizadas en AMC.</p>
            </div>
        </div>
        
    </div>
</div>