body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --burgundy: #741B47;
  --burgundy-dark: #3c0621;
  --teal: #134F5C;
  --background: #f5f5f5;
  --text-main: #222;
}
