body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --burgundy: #741B47;
  --burgundy-dark: #3c0621;
  --teal: #134F5C;
  --background: #f5f5f5;
  --text-main: #222;
}

/* Esto ya debería estar en styles.css para el Sticky Footer */
.content-wrapper {
  flex-grow: 1; /* Hace que este contenedor ocupe todo el espacio sobrante */
  display: flex; /* Añadir display: flex para manejar su contenido interno */
  flex-direction: column; /* Apilar el contenido interno (el perfil) */
}
