<footer class="footer">

  <div class="footer-social">
    <span class="footer-brand">AMC Theatres</span>

    <div class="footer-icons">
      <a href="https://www.facebook.com" class="footer-icon"><img src="assets/facebook.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com" class="footer-icon"><img src="assets/instagram.svg" alt="Instagram"></a>  
      <a href="https://www.tiktok.com" class="footer-icon"><img src="assets/tiktok.svg" alt="TikTok"></a>
      <a href="https://www.youtube.com" class="footer-icon"><img src="assets/youtube.svg" alt="YouTube"></a>
    </div>
  </div>

  <div class="footer-info">
    <span>
      Programadores: Hilda Albarracín · Mayling Álvarez · Antonella Butrón · Guillermo Pino · Sebastián Eyraud · Ivan Collao · Tomas Carvajal · 
      Universidad de Tarapacá · Ingeniería Civil en Computación e Informática · Tecnología Web
    </span>
  </div>

</footer>
